body {
font-family: system-ui, sans-serif;
}


h1, h2, h5 {
font-weight: 600;
}


/* Add extra spacing for sections */
section {
scroll-margin-top: 70px;
}


/* Custom hover */
.card:hover {
transform: translateY(-3px);
transition: 0.2s;
}